.root {
  height: 100%;
}

.layout {
  height: 100%;
}

.sider {

}

.logo {
  height: 48px;
  background: rgba(1, 1, 1, 0.05);
}

.logo img {
  height: 30px;
  width: 30px;;
}

.logo span {
  color: white;
}

.header {
  background: #fff;
  height: 48px;
  padding: 0 32px;
}

.content {
  background: #eee;
  padding: 16px;
}

.inner {
  background: #fff;
  padding: 16px;
}

.footer {
  text-align: center;
}

:global .ant-layout-sider-collapsed .anticon {
  font-size: 16px;
  margin-left: 8px;
}

:global .ant-layout-sider-collapsed .nav-text {
  display: none;
}